{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/Connexion.css') }}">
{% endblock %}

{% block body %}
<section>
    <div class="form-container">
        <form method="post" class="Contact">
            <div class="text-container">
                <h2>Connexion</h2>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                {% endif %}

                <label for="inputEmail">Email</label>
                <input type="email" id="inputEmail" name="email" value="{{ last_username }}" class="email" placeholder="Votre adresse mail" autocomplete="email" required autofocus>

                <label for="inputPassword">Mot de passe</label>
                <input type="password" id="inputPassword" name="password" class="fname" placeholder="Votre mot de passe" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="btn-container">
                <button type="submit">Validé</button>
                <input type="button" value="Retour" id="back" class="submit-btn text-white fw-bold" onclick="window.history.back()">
            </div>

            <section id="Souviens_toi_de_moi">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>

                <label class="inscrit">
                    <a href="#" target="_blank" rel="noopener noreferrer">Pas encore inscrit ? Cliquez ici</a>
                </label>
            </section>
        </form>
    </div>
</section>
{% endblock %}

