<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% if app.user and app.user.id == user.id %}
    <form method="post" action="{{ path('user_delete', {id: user.id}) }}" onsubmit="return confirm('Confirmer la suppression ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button type="submit" class="btn btn-danger">Supprimer mon compte</button>
    </form>
{% elseif is_granted('ROLE_ADMIN') %}
    <form method="post" action="{{ path('user_delete', {id: user.id}) }}" onsubmit="return confirm('Supprimer cet utilisateur ?');">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
        <button type="submit" class="btn btn-danger">Supprimer utilisateur</button>
    </form>
{% endif %}

        {% endblock %}
    </body>
</html>
